#container {
    position: relative;
    width: 300px;
    height: 400px;
    left: 50%;
    transform: translate(-50%);
    background-color: gray;
}

#display {
    position: relative;
    width: 80%;
    top: 5%;
    height: 15%;
    left: 10%;
    background-color: rgb(209, 209, 209);
    border: 2px outset black;
    vertical-align: middle;
    text-align: center;
}
#numscontainer {
    position: relative;
    left: 10%;
    width: 80%;
}
button {
    width: 21.25%;
    margin-left: 5%;
}
.pri {
    margin-left: 0;
}
